pkgbase = st
	pkgdesc = A fully patched sucless simple terminal
	pkgver = 0.8.5
	pkgrel = 1
	url = https://github.com/yarob-0/st
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = make
	makedepends = git
	conflicts = st
	source = git+https://github.com/yarob-0/st.git#branch=main
	md5sums = SKIP

pkgname = st
